{{>header}}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-start">
                <img src="/img/{{image}}" class="rounded" alt="@neerajshree">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas debitis dolor modi veniam, porro eius eaque, quidem, aliquid voluptatibus quos eos ratione alias aspernatur est unde? Eaque minus repellendus unde veritatis animi fuga cumque rerum sequi eius alias reiciendis in molestiae praesentium earum iste exercitationem itaque iusto, voluptatibus ea vel corrupti commodi quia culpa. Quos facilis commodi minus porro aspernatur, non iure perspiciatis quisquam recusandae quae ab animi quas maxime. Nihil harum magni placeat? Pariatur iusto quas earum deleniti, illum, architecto aut nulla facilis maiores sunt quia dolores inventore natus saepe ab recusandae magnam dolore odio officiis voluptatibus. Blanditiis, sint.</p>
        </div>
    </div>
</div>
{{>footer}}