{{>header}}
<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, culpa commodi quia odit sed, officia, sapiente expedita ullam atque dolorum alias vero? Aspernatur assumenda fuga eos facilis voluptas temporibus, harum tempora ab? Recusandae et voluptatibus maiores qui facere saepe dolor modi vitae similique, voluptate fugit. Libero dicta sit nemo aliquam harum sequi laborum. Perferendis assumenda architecto fugit velit a totam dicta amet, excepturi mollitia magnam ea similique quibusdam minima eum explicabo pariatur recusandae voluptates ratione autem sed nihil tempora doloremque? Error dicta corporis harum, culpa dignissimos sapiente doloribus aperiam et necessitatibus unde voluptatibus repellat optio nostrum laudantium itaque, porro modi?</p>
        </div>
    </div>
</div>
{{>footer}}