{{>header}}
<div class="container">
    <div class="row">
        <div class="col-12">
            <p>{{helpText}}</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias nemo ratione, soluta earum debitis incidunt, fugit odit distinctio impedit sunt, ea sequi. Natus dolor eius magnam, quaerat nobis numquam similique odit nemo explicabo omnis atque culpa consequatur officia, molestiae sit aliquid vero animi aspernatur amet dignissimos! Praesentium, distinctio tenetur? Quasi reiciendis, nostrum quidem modi enim ipsam ducimus, quibusdam accusamus quod eius inventore velit voluptatibus perferendis nesciunt necessitatibus quas fugiat facilis iusto cumque delectus. At odit voluptatibus fugiat magnam distinctio! Explicabo commodi nostrum nulla nisi at quisquam tempora corrupti numquam, vitae quas id, molestiae deleniti sequi, ex eaque natus quae iure.s</p>
        </div>
    </div>
</div>
{{>footer}}