{{>header}}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="bg-light p-3 pt-4 mt-3 shadow-sm">
                <form action="">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-location-dot"></i></span>
                        <input type="text" name="location" class="form-control" placeholder="Location">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-paper-plane"></i> Submit</button>
                    </div>
                </form>
                <div id="weather-report"></div>
            </div>
        </div>
        <div class="col-3">
            <div class="bg-light p-3 mt-3 shadow-sm">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia omnis illum corporis. Odio delectus amet possimus! Assumenda ea illo possimus!</p>
            </div>
        </div>
        <div class="col-3">
            <div class="bg-light p-3 mt-3 shadow-sm">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia omnis illum corporis. Odio delectus amet possimus! Assumenda ea illo possimus!</p>
            </div>
        </div>
        <div class="col-3">
            <div class="bg-light p-3 mt-3 shadow-sm">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia omnis illum corporis. Odio delectus amet possimus! Assumenda ea illo possimus!</p>
            </div>
        </div>
    </div>
</div>
<script src="/js/app.js"></script>
{{>footer}}